:root {
  --header-image: url("https://sadhost.neocities.org/images/layouts/wp.jpeg");
  /* --body-bg-image: url("https://omama.neocities.org/grass2.jpg"); */

  /* colors */
  --content: #43256e;
}

/* ----------------font--------------- */

@font-face {
  font-family: "runa";
  src: url("./fonts/runatype.ttf");
}

@font-face {
  font-family: "title";
  src: url("./fonts/Basteleur-Moonlight.ttf");
}

@font-face {
  font-family: "body2";
  src: url("./fonts/Abordage-Regular.otf");
}

body {
  font-family: "runa", sans-serif;
  margin: 0;
  background-color: #473f34;
  /* background image adjusterr*/
  background-size: cover;
  color: #575245;
  /* background-image: var(--body-bg-image); */
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 900px;
  /* width of layout! */

  margin: 0 auto;
  /* *center barge* */
  position: relative;
}

#frame-bg {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: #9ea66b;
  border-radius: 20px;
  pointer-events: none;
  z-index: -1;
}

li {
list-style-type: georgian;
}

h1 {
  color: #595041;
font-family: 'title';
font-size: 3em;

}

h2 {
  font-size: 30px;
}


p {
  font-size: 20px;
}


img {  
  max-width: 100%;
  max-height:100%

}

#topBar {
  margin-top:10px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  padding-bottom: 5em;
  padding-top: 10px;
  font-size: smaller;
  background-color: #9ea66b;
  color: #f4ecd1;
}

#topBar a {
  color: #595041 !important;
  text-decoration: none;
}

/* ---------------header section!!------------*/
.header {
  width: 100%;
  font-size: 3em;
  padding-top: 20px;
  font-family: 'title';
  background-color: #f4ecd1;
  /* header color here! */
  height: 100px;
  background-size: 300px;
  font-size:3.5vw;
  text-align: center;
}



/* ---------------navigation section!!------------*/

#navbar {
  padding-top: 20px;
  height: 63px;
  background-color: #f4ecd1;
  /* navbar color */
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

/* navigation links*/
#navbar li a {
  font-family: "runa";
  font-size: 20px;
  color: #595041;
  font-weight: 800;
  /* this removes the underline */
  /*text-decoration: none;*/
}

#navbar li a::after {
  content: "";
}

#navbar li a:hover::after {
  content: "!!";
}

#flex {
  display: flex;
}

/* SIDEBAR DESIGN */
aside {
  font-family: "body2";
  font-size: 15px;
  background-color: #473f34;
  color:#f4ecd1;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* pinboard box */
.box {
  background-color: #f4ecd1;
  border: 1px solid #9ea66b;
  color: #473f34;
  padding: 10px;
}

/* links */
#container a {
  color: #9ea66b;
  stroke-width: 1;

  /*text-decoration:none;*/
}

/* left sidebar ordering */
#leftSidebar {
  order: 1;
  flex: 0 0 240px;
}

/* MAIN AREA */
/* MAIN AREA */
main {
  background-color: #8c9657;
  color:#f0e5e7;
  flex: 1 1 60%;
  order: 2;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  border: none;
  min-width: 0; /* prevents overflow from long content */
}
main a {
  color: #473f34 !important;

}

/* only if i feel like adding another side bar later */
/*#rightSidebar {*/
/*    order: 3;*/
/*}*/

footer {
  /* background color for footer */
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  /* centers the footer text */
  margin: 20px;
}

strong {
  /* bold text style*/
  color: #ed64f5;
}





/* BELOW IS MEDIA QUERY */

/* by default, the container width is 900px.
in order to keep things responsive, take  new height,
and then subtrack it by 100. use this new number as the
"max-width" value neechay
*/

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  /* the order of the items*/
  main {
    order: 1;
  }

  #leftSidebar {
    order: 2;
  }

  #rightSidebar {
    order: 3;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}


#header-container .header h1 {
  font-size: 0.9em !important;
  line-height: 1.1;
  margin: 0;
  padding: 10px 0;
}

@media (max-width: 600px) {
  #header-container .header h1 {
    font-size: 0.9em !important;
  }
}
